<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'EMS_REST_API/css/flips.css' %}">

    <link rel="stylesheet" type="text/css"
    href="{% static 'EMS_REST_API/Font-Awesome-fa-4/css/font-awesome.min.css' %}">
    <link rel="shorcut icon" href="{% static 'EMS_REST_API/websitephotos/favicon.ico' %}">
    <title>Team</title>
</head>
<body>
<div class="container-body">
    <section class="header">
        <h1>My Awesome Team</h1>
    </section>
    <section class="main">
        <div class="container">
            <div class="card">
                <div class="inner" id="card-1">
                    <div class="profile">
                    </div>
                    <h1>Cedrick Domingo</h1>
                    <p> He is imagining a world where hoomans is capable of using CLI
            so that there will be no more need for fancy UIs/UXs.
            He does less than 15% of the project.</p>
                    <div class="social">
                        <a class="fb" href="https://web.facebook.com/cedrick.domingo.75">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>     
                        </a>
                        <a class="github" href="https://github.com/cedie712">
                            <i class="fa fa-github fa-4x" aria-hidden="true"></i>   
                        </a>
                    </div>              
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="inner" id="card-2">
                    <div class="profile"></div>
                    <h1>Cedrick Domingo</h1>
                    <p>10 cups is his daily dosage of coffee. He is the one to blame if everything fails.
            He is using mix tabs and spaces. He is a monster..</p>
                    <div class="social">
                        <a class="fb"  href="https://web.facebook.com/cedrick.domingo.75">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>     
                        </a>
                        <a class="github" href="https://github.com/cedie712">
                            <i class="fa fa-github fa-4x" aria-hidden="true"></i>   
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="inner" id="card-3">
                    <div class="profile"></div>
                    <h1>Cedrick Domingo</h1>
                    <p>He thinks that he is the boss. He pulls the strings
                        from behind in every project. He has the 70% of income.</p>
                    <div class="social">
                        <a class="fb"  href="https://web.facebook.com/cedrick.domingo.75">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>     
                        </a>
                        <a class="github" href="https://github.com/cedie712">
                            <i class="fa fa-github fa-4x" aria-hidden="true"></i>   
                        </a>
                    </div>
                </div>
            </div>     
        </div>          
    </section>
    

</div>
<div class="footer">
        <p>copyrights reserved 2018 <i class="fa fa-copyright"></i></p>
</div>
</body>
</html>